msn2.net/BarMonkey/RelayController/RelayControllerPhoneUtility/Service References/RelayController/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProXRRelayPulseController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey.RelayController" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRelayController_ConnectTest_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectTest" />
  </wsdl:message>
  <wsdl:message name="IRelayController_ConnectTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectTestResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayController_SendBatch_InputMessage">
    <wsdl:part name="parameters" element="tns:SendBatch" />
  </wsdl:message>
  <wsdl:message name="IRelayController_SendBatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IRelayController_TurnAllOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnAllOff" />
  </wsdl:message>
  <wsdl:message name="IRelayController_TurnAllOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnAllOffResponse" />
  </wsdl:message>
  <wsdl:portType name="IRelayController">
    <wsdl:operation name="ConnectTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayController/ConnectTest" message="tns:IRelayController_ConnectTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelayController/ConnectTestResponse" message="tns:IRelayController_ConnectTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendBatch">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayController/SendBatch" message="tns:IRelayController_SendBatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelayController/SendBatchResponse" message="tns:IRelayController_SendBatch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnAllOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IRelayController/TurnAllOff" message="tns:IRelayController_TurnAllOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRelayController/TurnAllOffResponse" message="tns:IRelayController_TurnAllOff_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RelayController" type="tns:IRelayController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConnectTest">
      <soap:operation soapAction="http://tempuri.org/IRelayController/ConnectTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendBatch">
      <soap:operation soapAction="http://tempuri.org/IRelayController/SendBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnAllOff">
      <soap:operation soapAction="http://tempuri.org/IRelayController/TurnAllOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProXRRelayPulseController">
    <wsdl:port name="RelayController" binding="tns:RelayController">
      <soap:address location="http://localhost:8282/RelayController" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>