msn2.net/WakeOnLan/Website/App_WebReferences/DevicePowerService/DevicePower.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DevicePower" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hs.msn2.net:8808/DevicePower.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/DevicePower.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDevicePower_Resume_InputMessage">
    <wsdl:part name="parameters" element="tns:Resume" />
  </wsdl:message>
  <wsdl:message name="IDevicePower_Resume_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResumeResponse" />
  </wsdl:message>
  <wsdl:message name="IDevicePower_Suspend_InputMessage">
    <wsdl:part name="parameters" element="tns:Suspend" />
  </wsdl:message>
  <wsdl:message name="IDevicePower_Suspend_OutputMessage">
    <wsdl:part name="parameters" element="tns:SuspendResponse" />
  </wsdl:message>
  <wsdl:portType name="IDevicePower">
    <wsdl:operation name="Resume">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevicePower/Resume" message="tns:IDevicePower_Resume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevicePower/ResumeResponse" message="tns:IDevicePower_Resume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Suspend">
      <wsdl:input wsaw:Action="http://tempuri.org/IDevicePower/Suspend" message="tns:IDevicePower_Suspend_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDevicePower/SuspendResponse" message="tns:IDevicePower_Suspend_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDevicePower" type="tns:IDevicePower">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Resume">
      <soap:operation soapAction="http://tempuri.org/IDevicePower/Resume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Suspend">
      <soap:operation soapAction="http://tempuri.org/IDevicePower/Suspend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DevicePower">
    <wsdl:port name="BasicHttpBinding_IDevicePower" binding="tns:BasicHttpBinding_IDevicePower">
      <soap:address location="http://hs.msn2.net:8808/DevicePower.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>