Lists/ListWinPhone/Service References/ListAuth/la2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.msn2.net/sl/la.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LiveUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
      <xs:element minOccurs="0" name="ListPersons" nillable="true" type="tns:ArrayOfListPerson">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ListItems" nillable="true" type="tns:ArrayOfListItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ListItems1" nillable="true" type="tns:ArrayOfListItem">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="PersonDevices" nillable="true" type="tns:ArrayOfPersonDevice">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfListPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListPerson" nillable="true" type="tns:ListPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListPerson" nillable="true" type="tns:ArrayOfListPerson" />
  <xs:complexType name="ListPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="ListId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="AddedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsListOwner" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortOrder" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListPerson" nillable="true" type="tns:ListPerson" />
  <xs:complexType name="ArrayOfListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ListItem" nillable="true" type="tns:ListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListItem" nillable="true" type="tns:ArrayOfListItem" />
  <xs:complexType name="ListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddedByPersonId" type="xs:int" />
      <xs:element minOccurs="0" name="AddedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChangeDeviceId" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="DeletedTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeletedByPersonId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ListItem" nillable="true" type="tns:ListItem" />
  <xs:complexType name="ArrayOfPersonDevice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDevice" nillable="true" type="tns:PersonDevice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDevice" nillable="true" type="tns:ArrayOfPersonDevice" />
  <xs:complexType name="PersonDevice">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastConnectTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDevice" nillable="true" type="tns:PersonDevice" />
  <xs:complexType name="ClientAuthenticationData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeviceUniqueId" type="ser:guid" />
      <xs:element minOccurs="0" name="PersonUniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientAuthenticationData" nillable="true" type="tns:ClientAuthenticationData" />
</xs:schema>