msn2.net/chickweb/ChickPhone/Service References/IsyData/ISY1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNodeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NodeData" nillable="true" type="tns:NodeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNodeData" nillable="true" type="tns:ArrayOfNodeData" />
  <xs:complexType name="NodeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Level" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NodeData" nillable="true" type="tns:NodeData" />
  <xs:complexType name="ArrayOfGroupData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GroupData" nillable="true" type="tns:GroupData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGroupData" nillable="true" type="tns:ArrayOfGroupData" />
  <xs:complexType name="GroupData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GroupData" nillable="true" type="tns:GroupData" />
</xs:schema>