msn2.net/control.msn2.net/App_WebReferences/DeviceControlService/DeviceControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HomeServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HomeServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DeviceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOn" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceStatus" nillable="true" type="tns:DeviceStatus" />
</xs:schema>