msn2.net/control.msn2.net/App_WebReferences/DeviceControlService/DeviceControl2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hs.msn2.net:8808/DeviceControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeServices" />
  <xs:import schemaLocation="http://hs.msn2.net:8808/DeviceControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ToggleDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HomeServices" minOccurs="0" name="ToggleDeviceResult" nillable="true" type="q1:DeviceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HomeServices" minOccurs="0" name="GetDeviceStatusResult" nillable="true" type="q2:DeviceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HomeServices" minOccurs="0" name="TurnOffResult" nillable="true" type="q3:DeviceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="duration" type="q4:duration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TurnOnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HomeServices" minOccurs="0" name="TurnOnResult" nillable="true" type="q5:DeviceStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>