msn2.net/Configuration/Web References/ProjectFServices/DataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://services.msn2.net/ProjectFServices/2002/04/23/DataService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://tempuri.org/DataSetDataItem.xsd" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://services.msn2.net/ProjectFServices/2002/04/23/DataService" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://tempuri.org/DataSetDataItem.xsd" location="http://localhost/ProjectFServices/DataService.asmx?schema=DataSetDataItem" />
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://services.msn2.net/ProjectFServices/2002/04/23/DataService">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:import namespace="http://tempuri.org/DataSetDataItem.xsd" />
      <s:element name="GetChildren">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="types" type="s0:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetChildrenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildrenResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DataSetDataItem.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Get">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="userId" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="itemKey" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DataSetDataItem.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Save">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveResponse">
        <s:complexType />
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </types>
  <message name="GetChildrenSoapIn">
    <part name="parameters" element="s0:GetChildren" />
  </message>
  <message name="GetChildrenSoapOut">
    <part name="parameters" element="s0:GetChildrenResponse" />
  </message>
  <message name="GetSoapIn">
    <part name="parameters" element="s0:Get" />
  </message>
  <message name="GetSoapOut">
    <part name="parameters" element="s0:GetResponse" />
  </message>
  <message name="SaveSoapIn">
    <part name="parameters" element="s0:Save" />
  </message>
  <message name="SaveSoapOut">
    <part name="parameters" element="s0:SaveResponse" />
  </message>
  <message name="DeleteSoapIn">
    <part name="parameters" element="s0:Delete" />
  </message>
  <message name="DeleteSoapOut">
    <part name="parameters" element="s0:DeleteResponse" />
  </message>
  <portType name="DataServiceSoap">
    <operation name="GetChildren">
      <input message="s0:GetChildrenSoapIn" />
      <output message="s0:GetChildrenSoapOut" />
    </operation>
    <operation name="Get">
      <input message="s0:GetSoapIn" />
      <output message="s0:GetSoapOut" />
    </operation>
    <operation name="Save">
      <input message="s0:SaveSoapIn" />
      <output message="s0:SaveSoapOut" />
    </operation>
    <operation name="Delete">
      <input message="s0:DeleteSoapIn" />
      <output message="s0:DeleteSoapOut" />
    </operation>
  </portType>
  <portType name="DataServiceHttpGet" />
  <portType name="DataServiceHttpPost" />
  <binding name="DataServiceSoap" type="s0:DataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetChildren">
      <soap:operation soapAction="http://services.msn2.net/ProjectFServices/2002/04/23/DataService/GetChildren" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Get">
      <soap:operation soapAction="http://services.msn2.net/ProjectFServices/2002/04/23/DataService/Get" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Save">
      <soap:operation soapAction="http://services.msn2.net/ProjectFServices/2002/04/23/DataService/Save" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Delete">
      <soap:operation soapAction="http://services.msn2.net/ProjectFServices/2002/04/23/DataService/Delete" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="DataServiceHttpGet" type="s0:DataServiceHttpGet">
    <http:binding verb="GET" />
  </binding>
  <binding name="DataServiceHttpPost" type="s0:DataServiceHttpPost">
    <http:binding verb="POST" />
  </binding>
  <service name="DataService">
    <port name="DataServiceSoap" binding="s0:DataServiceSoap">
      <soap:address location="http://localhost/ProjectFServices/DataService.asmx" />
    </port>
    <port name="DataServiceHttpGet" binding="s0:DataServiceHttpGet">
      <http:address location="http://localhost/ProjectFServices/DataService.asmx" />
    </port>
    <port name="DataServiceHttpPost" binding="s0:DataServiceHttpPost">
      <http:address location="http://localhost/ProjectFServices/DataService.asmx" />
    </port>
  </service>
</definitions>