msn2.net/BarMonkey/RelayControllerTest/Service References/ServiceReference/msn2.net.BarMonkey.RelayController.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey.RelayController" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey.RelayController" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBatchItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BatchItem" nillable="true" type="tns:BatchItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBatchItem" nillable="true" type="tns:ArrayOfBatchItem" />
  <xs:complexType name="BatchItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Group" type="xs:int" />
      <xs:element minOccurs="0" name="RelayNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Seconds" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BatchItem" nillable="true" type="tns:BatchItem" />
</xs:schema>