msn2.net/ShoppingList/sl7/Service References/ListData/lds1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.msn2.net/sl/lds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" />
  <xs:import schemaLocation="http://svc.msn2.net/sl/lds.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q1:ClientAuthenticationData" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListResult" nillable="true" type="q2:AddListReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q3:ClientAuthenticationData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="list" nillable="true" type="q4:List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="UpdateListResult" nillable="true" type="q5:UpdateListReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q6:ClientAuthenticationData" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uniqueId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q8:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetListsResult" nillable="true" type="q9:ArrayOfGetListsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q10:ClientAuthenticationData" />
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetListItemsResult" nillable="true" type="q12:ArrayOfGetAllListItemsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q13:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetAllListItemsResult" nillable="true" type="q14:ArrayOfGetAllListItemsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q15:ClientAuthenticationData" />
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q16:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListItemResult" nillable="true" type="q17:AddListItemReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q18:ClientAuthenticationData" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="item" nillable="true" type="q19:ListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="UpdateListItemResult" nillable="true" type="q20:UpdateListItemReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q21:ClientAuthenticationData" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listItemUniqueId" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="DeleteListItemResult" nillable="true" type="q23:DeleteListItemReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChangeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q24:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChangeTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastChangeTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>