Sites/control.msn2.net/App_WebReferences/SonosService/Sonos2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://hs.msn2.net:8808/Sonos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net" />
  <xs:element name="GetNowPlaying">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roomName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNowPlayingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/msn2.net" minOccurs="0" name="GetNowPlayingResult" nillable="true" type="q1:SonosPlayingData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/msn2.net" minOccurs="0" name="GetPlayersResult" nillable="true" type="q2:ArrayOfZonePlayerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>