msn2.net/control.msn2.net/App_WebReferences/SonosService/Sonos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sonos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hs.msn2.net:8808/Sonos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/Sonos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/Sonos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISonos_GetNowPlaying_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNowPlaying" />
  </wsdl:message>
  <wsdl:message name="ISonos_GetNowPlaying_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNowPlayingResponse" />
  </wsdl:message>
  <wsdl:message name="ISonos_GetPlayers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayers" />
  </wsdl:message>
  <wsdl:message name="ISonos_GetPlayers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayersResponse" />
  </wsdl:message>
  <wsdl:portType name="ISonos">
    <wsdl:operation name="GetNowPlaying">
      <wsdl:input wsaw:Action="http://tempuri.org/ISonos/GetNowPlaying" message="tns:ISonos_GetNowPlaying_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISonos/GetNowPlayingResponse" message="tns:ISonos_GetNowPlaying_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISonos/GetPlayers" message="tns:ISonos_GetPlayers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISonos/GetPlayersResponse" message="tns:ISonos_GetPlayers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISonos" type="tns:ISonos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNowPlaying">
      <soap:operation soapAction="http://tempuri.org/ISonos/GetNowPlaying" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayers">
      <soap:operation soapAction="http://tempuri.org/ISonos/GetPlayers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sonos">
    <wsdl:port name="BasicHttpBinding_ISonos" binding="tns:BasicHttpBinding_ISonos">
      <soap:address location="http://hs.msn2.net:8808/Sonos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>