msn2.net/control.msn2.net/App_WebReferences/SonosService/Sonos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/msn2.net" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/msn2.net" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SonosPlayingData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlbumArtUri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SonosPlayingData" nillable="true" type="tns:SonosPlayingData" />
  <xs:complexType name="ArrayOfZonePlayerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZonePlayerStatus" nillable="true" type="tns:ZonePlayerStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZonePlayerStatus" nillable="true" type="tns:ArrayOfZonePlayerStatus" />
  <xs:complexType name="ZonePlayerStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="BehindWifiExt" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChannelFrequency" type="xs:int" />
      <xs:element minOccurs="0" name="Coordinator" type="xs:boolean" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupNumber" type="xs:int" />
      <xs:element minOccurs="0" name="HasConfiguredSSID" type="xs:boolean" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WifiEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="WirelessLeafOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="WirelessMode" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZonePlayerStatus" nillable="true" type="tns:ZonePlayerStatus" />
</xs:schema>