msn2.net/BarMonkey/BarMonkeyPhone/Service References/BarMonkeyClientService/bmcs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://chef/bm/bmcs.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey" />
  <xs:element name="GetTopDrinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey" minOccurs="0" name="GetTopDrinksResult" nillable="true" type="q1:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDrinks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDrinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/msn2.net.BarMonkey" minOccurs="0" name="GetAllDrinksResult" nillable="true" type="q2:ArrayOfDrink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PourDrink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="drinkId" type="xs:int" />
        <xs:element minOccurs="0" name="containerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PourDrinkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>