Lists/ListWinPhone/Service References/ListData/lds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://svc.listgo.mobi" elementFormDefault="qualified" targetNamespace="http://svc.listgo.mobi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://svc.listgo.mobi/lds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" />
  <xs:import schemaLocation="http://svc.listgo.mobi/lds.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q1:ClientAuthenticationData" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListResult" nillable="true" type="q2:AddListReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q3:ClientAuthenticationData" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="list" nillable="true" type="q4:List" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="UpdateListResult" nillable="true" type="q5:UpdateListReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q6:ClientAuthenticationData" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uniqueId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q8:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetListsResult" nillable="true" type="q9:ArrayOfGetListsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q10:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetAllResult" nillable="true" type="q11:ArrayOfGetAllResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q12:ClientAuthenticationData" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetListItemsResult" nillable="true" type="q14:ArrayOfGetAllListItemsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q15:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetAllListItemsResult" nillable="true" type="q16:ArrayOfGetAllListItemsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q17:ClientAuthenticationData" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q18:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListItemResult" nillable="true" type="q19:AddListItemReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItemWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q20:ClientAuthenticationData" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q21:guid" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="itemUniqueId" type="q22:guid" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItemWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListItemWithIdResult" nillable="true" type="q23:AddListItemReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q24:ClientAuthenticationData" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listUniqueId" type="q25:guid" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="items" nillable="true" type="q26:ArrayOfListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddListItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddListItemsResult" nillable="true" type="q27:AddListItemsReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q28:ClientAuthenticationData" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="item" nillable="true" type="q29:ListItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="UpdateListItemResult" nillable="true" type="q30:UpdateListItemReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q31:ClientAuthenticationData" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="listItemUniqueId" type="q32:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteListItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="DeleteListItemResult" nillable="true" type="q33:DeleteListItemReturnData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChangeTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q34:ClientAuthenticationData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastChangeTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastChangeTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liveUserId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="GetPersonResult" nillable="true" type="q35:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q36:ClientAuthenticationData" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="person" nillable="true" type="q37:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q38:ClientAuthenticationData" />
        <xs:element minOccurs="0" name="deviceName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDeviceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="AddDeviceResult" nillable="true" type="q39:PersonDevice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" minOccurs="0" name="auth" nillable="true" type="q40:ClientAuthenticationData" />
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="deviceId" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>