Lists/ListWinPhone/Service References/ListData/ListDataServiceEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ListDataServiceEndpoint" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svc.listgo.mobi/lds.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svc.listgo.mobi/lds.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://svc.listgo.mobi/lds.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IListDataService_AddList_InputMessage">
    <wsdl:part name="parameters" element="tns:AddList" />
  </wsdl:message>
  <wsdl:message name="IListDataService_AddList_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdateList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateList" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdateList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_DeleteList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteList" />
  </wsdl:message>
  <wsdl:message name="IListDataService_DeleteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetLists_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLists" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetLists_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListsResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListItems" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetAllListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListItems" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetAllListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_AddListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddListItem" />
  </wsdl:message>
  <wsdl:message name="IListDataService_AddListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdateListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListItem" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdateListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_DeleteListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListItem" />
  </wsdl:message>
  <wsdl:message name="IListDataService_DeleteListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetLastChangeTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastChangeTime" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetLastChangeTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastChangeTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IListDataService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdatePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePerson" />
  </wsdl:message>
  <wsdl:message name="IListDataService_UpdatePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_AddDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDevice" />
  </wsdl:message>
  <wsdl:message name="IListDataService_AddDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IListDataService_RemoveDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevice" />
  </wsdl:message>
  <wsdl:message name="IListDataService_RemoveDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDeviceResponse" />
  </wsdl:message>
  <wsdl:portType name="IListDataService">
    <wsdl:operation name="AddList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/AddList" message="tns:IListDataService_AddList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/AddListResponse" message="tns:IListDataService_AddList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/UpdateList" message="tns:IListDataService_UpdateList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/UpdateListResponse" message="tns:IListDataService_UpdateList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/DeleteList" message="tns:IListDataService_DeleteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/DeleteListResponse" message="tns:IListDataService_DeleteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLists">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetLists" message="tns:IListDataService_GetLists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetListsResponse" message="tns:IListDataService_GetLists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetAll" message="tns:IListDataService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetAllResponse" message="tns:IListDataService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetListItems" message="tns:IListDataService_GetListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetListItemsResponse" message="tns:IListDataService_GetListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetAllListItems" message="tns:IListDataService_GetAllListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetAllListItemsResponse" message="tns:IListDataService_GetAllListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/AddListItem" message="tns:IListDataService_AddListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/AddListItemResponse" message="tns:IListDataService_AddListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/UpdateListItem" message="tns:IListDataService_UpdateListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/UpdateListItemResponse" message="tns:IListDataService_UpdateListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/DeleteListItem" message="tns:IListDataService_DeleteListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/DeleteListItemResponse" message="tns:IListDataService_DeleteListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastChangeTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetLastChangeTime" message="tns:IListDataService_GetLastChangeTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetLastChangeTimeResponse" message="tns:IListDataService_GetLastChangeTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/GetPerson" message="tns:IListDataService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/GetPersonResponse" message="tns:IListDataService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/UpdatePerson" message="tns:IListDataService_UpdatePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/UpdatePersonResponse" message="tns:IListDataService_UpdatePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/AddDevice" message="tns:IListDataService_AddDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/AddDeviceResponse" message="tns:IListDataService_AddDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IListDataService/RemoveDevice" message="tns:IListDataService_RemoveDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IListDataService/RemoveDeviceResponse" message="tns:IListDataService_RemoveDevice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IListDataService" type="tns:IListDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddList">
      <soap:operation soapAction="http://tempuri.org/IListDataService/AddList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateList">
      <soap:operation soapAction="http://tempuri.org/IListDataService/UpdateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteList">
      <soap:operation soapAction="http://tempuri.org/IListDataService/DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLists">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListItems">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllListItems">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetAllListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddListItem">
      <soap:operation soapAction="http://tempuri.org/IListDataService/AddListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateListItem">
      <soap:operation soapAction="http://tempuri.org/IListDataService/UpdateListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteListItem">
      <soap:operation soapAction="http://tempuri.org/IListDataService/DeleteListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastChangeTime">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetLastChangeTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IListDataService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePerson">
      <soap:operation soapAction="http://tempuri.org/IListDataService/UpdatePerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDevice">
      <soap:operation soapAction="http://tempuri.org/IListDataService/AddDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevice">
      <soap:operation soapAction="http://tempuri.org/IListDataService/RemoveDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ListDataServiceEndpoint">
    <wsdl:port name="BasicHttpBinding_IListDataService" binding="tns:BasicHttpBinding_IListDataService">
      <soap:address location="http://svc.listgo.mobi/lds.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>