msn2.net/chickweb/ChickPhone/Service References/CamDataService/camdata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogItem" nillable="true" type="tns:LogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogItem" nillable="true" type="tns:ArrayOfLogItem" />
  <xs:complexType name="LogItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogItem" nillable="true" type="tns:LogItem" />
  <xs:complexType name="PreviousAndNextLogItems">
    <xs:sequence>
      <xs:element minOccurs="0" name="NextItem" nillable="true" type="tns:LogItem" />
      <xs:element minOccurs="0" name="PreviousItem" nillable="true" type="tns:LogItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreviousAndNextLogItems" nillable="true" type="tns:PreviousAndNextLogItems" />
  <xs:complexType name="ArrayOfVideoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoItem" nillable="true" type="tns:VideoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoItem" nillable="true" type="tns:ArrayOfVideoItem" />
  <xs:complexType name="VideoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Duration" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MotionPercentage" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoItem" nillable="true" type="tns:VideoItem" />
</xs:schema>