msn2.net/chickweb/ChickPhone/Service References/CamDataService/CameraDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CameraDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://cams.msn2.net/camdata.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://cams.msn2.net/camdata.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://cams.msn2.net/camdata.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICameraData_GetItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItems" />
  </wsdl:message>
  <wsdl:message name="ICameraData_GetItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraData_GetPreviousAndNextLogItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousAndNextLogItems" />
  </wsdl:message>
  <wsdl:message name="ICameraData_GetPreviousAndNextLogItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousAndNextLogItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ICameraData_GetVideos_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVideos" />
  </wsdl:message>
  <wsdl:message name="ICameraData_GetVideos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVideosResponse" />
  </wsdl:message>
  <wsdl:portType name="ICameraData">
    <wsdl:operation name="GetItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraData/GetItems" message="tns:ICameraData_GetItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraData/GetItemsResponse" message="tns:ICameraData_GetItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviousAndNextLogItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraData/GetPreviousAndNextLogItems" message="tns:ICameraData_GetPreviousAndNextLogItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraData/GetPreviousAndNextLogItemsResponse" message="tns:ICameraData_GetPreviousAndNextLogItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <wsdl:input wsaw:Action="http://tempuri.org/ICameraData/GetVideos" message="tns:ICameraData_GetVideos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICameraData/GetVideosResponse" message="tns:ICameraData_GetVideos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICameraData" type="tns:ICameraData">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://tempuri.org/ICameraData/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviousAndNextLogItems">
      <soap:operation soapAction="http://tempuri.org/ICameraData/GetPreviousAndNextLogItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVideos">
      <soap:operation soapAction="http://tempuri.org/ICameraData/GetVideos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CameraDataService">
    <wsdl:port name="BasicHttpBinding_ICameraData" binding="tns:BasicHttpBinding_ICameraData">
      <soap:address location="http://cams.msn2.net/camdata.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>