Archive/Controls/Web References/FavoritesService/FavoritesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i1="http://tempuri.org/DataSetItem.xsd" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://webservices.msn2.net/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:i0="http://tempuri.org/DataSetCategory.xsd" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://webservices.msn2.net/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <import namespace="http://tempuri.org/DataSetCategory.xsd" location="http://dev/FavoritesService/FavoritesService.asmx?schema=DataSetCategory" />
  <import namespace="http://tempuri.org/DataSetItem.xsd" location="http://dev/FavoritesService/FavoritesService.asmx?schema=DataSetItem" />
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.msn2.net/">
      <s:import namespace="http://tempuri.org/DataSetCategory.xsd" />
      <s:import namespace="http://tempuri.org/DataSetItem.xsd" />
      <s:element name="GetRootCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRootCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRootCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DataSetCategory.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildCategories">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChildCategoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChildCategoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DataSetCategory.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRootCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRootCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddRootCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChildCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddChildCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddChildCategoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCategoryResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetItemsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/DataSetItem.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="categoryId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddItemResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteItemResponse">
        <s:complexType />
      </s:element>
      <s:element name="DataSetCategory" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://tempuri.org/DataSetCategory.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="DataSetItem" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://tempuri.org/DataSetItem.xsd" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="GetRootCategoriesSoapIn">
    <part name="parameters" element="s0:GetRootCategories" />
  </message>
  <message name="GetRootCategoriesSoapOut">
    <part name="parameters" element="s0:GetRootCategoriesResponse" />
  </message>
  <message name="GetChildCategoriesSoapIn">
    <part name="parameters" element="s0:GetChildCategories" />
  </message>
  <message name="GetChildCategoriesSoapOut">
    <part name="parameters" element="s0:GetChildCategoriesResponse" />
  </message>
  <message name="AddRootCategorySoapIn">
    <part name="parameters" element="s0:AddRootCategory" />
  </message>
  <message name="AddRootCategorySoapOut">
    <part name="parameters" element="s0:AddRootCategoryResponse" />
  </message>
  <message name="AddChildCategorySoapIn">
    <part name="parameters" element="s0:AddChildCategory" />
  </message>
  <message name="AddChildCategorySoapOut">
    <part name="parameters" element="s0:AddChildCategoryResponse" />
  </message>
  <message name="UpdateCategorySoapIn">
    <part name="parameters" element="s0:UpdateCategory" />
  </message>
  <message name="UpdateCategorySoapOut">
    <part name="parameters" element="s0:UpdateCategoryResponse" />
  </message>
  <message name="DeleteCategorySoapIn">
    <part name="parameters" element="s0:DeleteCategory" />
  </message>
  <message name="DeleteCategorySoapOut">
    <part name="parameters" element="s0:DeleteCategoryResponse" />
  </message>
  <message name="GetItemsSoapIn">
    <part name="parameters" element="s0:GetItems" />
  </message>
  <message name="GetItemsSoapOut">
    <part name="parameters" element="s0:GetItemsResponse" />
  </message>
  <message name="AddItemSoapIn">
    <part name="parameters" element="s0:AddItem" />
  </message>
  <message name="AddItemSoapOut">
    <part name="parameters" element="s0:AddItemResponse" />
  </message>
  <message name="UpdateItemSoapIn">
    <part name="parameters" element="s0:UpdateItem" />
  </message>
  <message name="UpdateItemSoapOut">
    <part name="parameters" element="s0:UpdateItemResponse" />
  </message>
  <message name="DeleteItemSoapIn">
    <part name="parameters" element="s0:DeleteItem" />
  </message>
  <message name="DeleteItemSoapOut">
    <part name="parameters" element="s0:DeleteItemResponse" />
  </message>
  <message name="GetRootCategoriesHttpGetIn">
    <part name="userId" type="s:string" />
  </message>
  <message name="GetRootCategoriesHttpGetOut">
    <part name="Body" element="s0:DataSetCategory" />
  </message>
  <message name="GetChildCategoriesHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="parentId" type="s:string" />
  </message>
  <message name="GetChildCategoriesHttpGetOut">
    <part name="Body" element="s0:DataSetCategory" />
  </message>
  <message name="AddRootCategoryHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryName" type="s:string" />
  </message>
  <message name="AddRootCategoryHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AddChildCategoryHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryName" type="s:string" />
    <part name="parentId" type="s:string" />
  </message>
  <message name="AddChildCategoryHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="UpdateCategoryHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
    <part name="categoryName" type="s:string" />
  </message>
  <message name="UpdateCategoryHttpGetOut" />
  <message name="DeleteCategoryHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
  </message>
  <message name="DeleteCategoryHttpGetOut" />
  <message name="GetItemsHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
  </message>
  <message name="GetItemsHttpGetOut">
    <part name="Body" element="s0:DataSetItem" />
  </message>
  <message name="AddItemHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
    <part name="itemName" type="s:string" />
    <part name="itemUrl" type="s:string" />
  </message>
  <message name="AddItemHttpGetOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="UpdateItemHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="itemId" type="s:string" />
    <part name="itemName" type="s:string" />
    <part name="itemUrl" type="s:string" />
  </message>
  <message name="UpdateItemHttpGetOut" />
  <message name="DeleteItemHttpGetIn">
    <part name="userId" type="s:string" />
    <part name="itemId" type="s:string" />
  </message>
  <message name="DeleteItemHttpGetOut" />
  <message name="GetRootCategoriesHttpPostIn">
    <part name="userId" type="s:string" />
  </message>
  <message name="GetRootCategoriesHttpPostOut">
    <part name="Body" element="s0:DataSetCategory" />
  </message>
  <message name="GetChildCategoriesHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="parentId" type="s:string" />
  </message>
  <message name="GetChildCategoriesHttpPostOut">
    <part name="Body" element="s0:DataSetCategory" />
  </message>
  <message name="AddRootCategoryHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryName" type="s:string" />
  </message>
  <message name="AddRootCategoryHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="AddChildCategoryHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryName" type="s:string" />
    <part name="parentId" type="s:string" />
  </message>
  <message name="AddChildCategoryHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="UpdateCategoryHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
    <part name="categoryName" type="s:string" />
  </message>
  <message name="UpdateCategoryHttpPostOut" />
  <message name="DeleteCategoryHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
  </message>
  <message name="DeleteCategoryHttpPostOut" />
  <message name="GetItemsHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
  </message>
  <message name="GetItemsHttpPostOut">
    <part name="Body" element="s0:DataSetItem" />
  </message>
  <message name="AddItemHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="categoryId" type="s:string" />
    <part name="itemName" type="s:string" />
    <part name="itemUrl" type="s:string" />
  </message>
  <message name="AddItemHttpPostOut">
    <part name="Body" element="s0:string" />
  </message>
  <message name="UpdateItemHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="itemId" type="s:string" />
    <part name="itemName" type="s:string" />
    <part name="itemUrl" type="s:string" />
  </message>
  <message name="UpdateItemHttpPostOut" />
  <message name="DeleteItemHttpPostIn">
    <part name="userId" type="s:string" />
    <part name="itemId" type="s:string" />
  </message>
  <message name="DeleteItemHttpPostOut" />
  <portType name="FavoritesServiceSoap">
    <operation name="GetRootCategories">
      <input message="s0:GetRootCategoriesSoapIn" />
      <output message="s0:GetRootCategoriesSoapOut" />
    </operation>
    <operation name="GetChildCategories">
      <input message="s0:GetChildCategoriesSoapIn" />
      <output message="s0:GetChildCategoriesSoapOut" />
    </operation>
    <operation name="AddRootCategory">
      <input message="s0:AddRootCategorySoapIn" />
      <output message="s0:AddRootCategorySoapOut" />
    </operation>
    <operation name="AddChildCategory">
      <input message="s0:AddChildCategorySoapIn" />
      <output message="s0:AddChildCategorySoapOut" />
    </operation>
    <operation name="UpdateCategory">
      <input message="s0:UpdateCategorySoapIn" />
      <output message="s0:UpdateCategorySoapOut" />
    </operation>
    <operation name="DeleteCategory">
      <input message="s0:DeleteCategorySoapIn" />
      <output message="s0:DeleteCategorySoapOut" />
    </operation>
    <operation name="GetItems">
      <input message="s0:GetItemsSoapIn" />
      <output message="s0:GetItemsSoapOut" />
    </operation>
    <operation name="AddItem">
      <input message="s0:AddItemSoapIn" />
      <output message="s0:AddItemSoapOut" />
    </operation>
    <operation name="UpdateItem">
      <input message="s0:UpdateItemSoapIn" />
      <output message="s0:UpdateItemSoapOut" />
    </operation>
    <operation name="DeleteItem">
      <input message="s0:DeleteItemSoapIn" />
      <output message="s0:DeleteItemSoapOut" />
    </operation>
  </portType>
  <portType name="FavoritesServiceHttpGet">
    <operation name="GetRootCategories">
      <input message="s0:GetRootCategoriesHttpGetIn" />
      <output message="s0:GetRootCategoriesHttpGetOut" />
    </operation>
    <operation name="GetChildCategories">
      <input message="s0:GetChildCategoriesHttpGetIn" />
      <output message="s0:GetChildCategoriesHttpGetOut" />
    </operation>
    <operation name="AddRootCategory">
      <input message="s0:AddRootCategoryHttpGetIn" />
      <output message="s0:AddRootCategoryHttpGetOut" />
    </operation>
    <operation name="AddChildCategory">
      <input message="s0:AddChildCategoryHttpGetIn" />
      <output message="s0:AddChildCategoryHttpGetOut" />
    </operation>
    <operation name="UpdateCategory">
      <input message="s0:UpdateCategoryHttpGetIn" />
      <output message="s0:UpdateCategoryHttpGetOut" />
    </operation>
    <operation name="DeleteCategory">
      <input message="s0:DeleteCategoryHttpGetIn" />
      <output message="s0:DeleteCategoryHttpGetOut" />
    </operation>
    <operation name="GetItems">
      <input message="s0:GetItemsHttpGetIn" />
      <output message="s0:GetItemsHttpGetOut" />
    </operation>
    <operation name="AddItem">
      <input message="s0:AddItemHttpGetIn" />
      <output message="s0:AddItemHttpGetOut" />
    </operation>
    <operation name="UpdateItem">
      <input message="s0:UpdateItemHttpGetIn" />
      <output message="s0:UpdateItemHttpGetOut" />
    </operation>
    <operation name="DeleteItem">
      <input message="s0:DeleteItemHttpGetIn" />
      <output message="s0:DeleteItemHttpGetOut" />
    </operation>
  </portType>
  <portType name="FavoritesServiceHttpPost">
    <operation name="GetRootCategories">
      <input message="s0:GetRootCategoriesHttpPostIn" />
      <output message="s0:GetRootCategoriesHttpPostOut" />
    </operation>
    <operation name="GetChildCategories">
      <input message="s0:GetChildCategoriesHttpPostIn" />
      <output message="s0:GetChildCategoriesHttpPostOut" />
    </operation>
    <operation name="AddRootCategory">
      <input message="s0:AddRootCategoryHttpPostIn" />
      <output message="s0:AddRootCategoryHttpPostOut" />
    </operation>
    <operation name="AddChildCategory">
      <input message="s0:AddChildCategoryHttpPostIn" />
      <output message="s0:AddChildCategoryHttpPostOut" />
    </operation>
    <operation name="UpdateCategory">
      <input message="s0:UpdateCategoryHttpPostIn" />
      <output message="s0:UpdateCategoryHttpPostOut" />
    </operation>
    <operation name="DeleteCategory">
      <input message="s0:DeleteCategoryHttpPostIn" />
      <output message="s0:DeleteCategoryHttpPostOut" />
    </operation>
    <operation name="GetItems">
      <input message="s0:GetItemsHttpPostIn" />
      <output message="s0:GetItemsHttpPostOut" />
    </operation>
    <operation name="AddItem">
      <input message="s0:AddItemHttpPostIn" />
      <output message="s0:AddItemHttpPostOut" />
    </operation>
    <operation name="UpdateItem">
      <input message="s0:UpdateItemHttpPostIn" />
      <output message="s0:UpdateItemHttpPostOut" />
    </operation>
    <operation name="DeleteItem">
      <input message="s0:DeleteItemHttpPostIn" />
      <output message="s0:DeleteItemHttpPostOut" />
    </operation>
  </portType>
  <binding name="FavoritesServiceSoap" type="s0:FavoritesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="GetRootCategories">
      <soap:operation soapAction="http://webservices.msn2.net/GetRootCategories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetChildCategories">
      <soap:operation soapAction="http://webservices.msn2.net/GetChildCategories" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddRootCategory">
      <soap:operation soapAction="http://webservices.msn2.net/AddRootCategory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddChildCategory">
      <soap:operation soapAction="http://webservices.msn2.net/AddChildCategory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateCategory">
      <soap:operation soapAction="http://webservices.msn2.net/UpdateCategory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteCategory">
      <soap:operation soapAction="http://webservices.msn2.net/DeleteCategory" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetItems">
      <soap:operation soapAction="http://webservices.msn2.net/GetItems" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AddItem">
      <soap:operation soapAction="http://webservices.msn2.net/AddItem" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UpdateItem">
      <soap:operation soapAction="http://webservices.msn2.net/UpdateItem" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteItem">
      <soap:operation soapAction="http://webservices.msn2.net/DeleteItem" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <binding name="FavoritesServiceHttpGet" type="s0:FavoritesServiceHttpGet">
    <http:binding verb="GET" />
    <operation name="GetRootCategories">
      <http:operation location="/GetRootCategories" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetChildCategories">
      <http:operation location="/GetChildCategories" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddRootCategory">
      <http:operation location="/AddRootCategory" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddChildCategory">
      <http:operation location="/AddChildCategory" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UpdateCategory">
      <http:operation location="/UpdateCategory" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="DeleteCategory">
      <http:operation location="/DeleteCategory" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="GetItems">
      <http:operation location="/GetItems" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddItem">
      <http:operation location="/AddItem" />
      <input>
        <http:urlEncoded />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UpdateItem">
      <http:operation location="/UpdateItem" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
    <operation name="DeleteItem">
      <http:operation location="/DeleteItem" />
      <input>
        <http:urlEncoded />
      </input>
      <output />
    </operation>
  </binding>
  <binding name="FavoritesServiceHttpPost" type="s0:FavoritesServiceHttpPost">
    <http:binding verb="POST" />
    <operation name="GetRootCategories">
      <http:operation location="/GetRootCategories" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="GetChildCategories">
      <http:operation location="/GetChildCategories" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddRootCategory">
      <http:operation location="/AddRootCategory" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddChildCategory">
      <http:operation location="/AddChildCategory" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UpdateCategory">
      <http:operation location="/UpdateCategory" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="DeleteCategory">
      <http:operation location="/DeleteCategory" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="GetItems">
      <http:operation location="/GetItems" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="AddItem">
      <http:operation location="/AddItem" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output>
        <mime:mimeXml part="Body" />
      </output>
    </operation>
    <operation name="UpdateItem">
      <http:operation location="/UpdateItem" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
    <operation name="DeleteItem">
      <http:operation location="/DeleteItem" />
      <input>
        <mime:content type="application/x-www-form-urlencoded" />
      </input>
      <output />
    </operation>
  </binding>
  <service name="FavoritesService">
    <port name="FavoritesServiceSoap" binding="s0:FavoritesServiceSoap">
      <soap:address location="http://dev/FavoritesService/FavoritesService.asmx" />
    </port>
    <port name="FavoritesServiceHttpGet" binding="s0:FavoritesServiceHttpGet">
      <http:address location="http://dev/FavoritesService/FavoritesService.asmx" />
    </port>
    <port name="FavoritesServiceHttpPost" binding="s0:FavoritesServiceHttpPost">
      <http:address location="http://dev/FavoritesService/FavoritesService.asmx" />
    </port>
  </service>
</definitions>