Sites/control.msn2.net/App_WebReferences/DeviceControlService/DeviceControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DeviceControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hs.msn2.net:8808/DeviceControl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/DeviceControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/DeviceControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDeviceControl_ToggleDevice_InputMessage">
    <wsdl:part name="parameters" element="tns:ToggleDevice" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_ToggleDevice_OutputMessage">
    <wsdl:part name="parameters" element="tns:ToggleDeviceResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_GetDeviceStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceStatus" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_GetDeviceStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeviceStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_TurnOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnOff" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_TurnOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnOffResponse" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_TurnOn_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnOn" />
  </wsdl:message>
  <wsdl:message name="IDeviceControl_TurnOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnOnResponse" />
  </wsdl:message>
  <wsdl:portType name="IDeviceControl">
    <wsdl:operation name="ToggleDevice">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceControl/ToggleDevice" message="tns:IDeviceControl_ToggleDevice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceControl/ToggleDeviceResponse" message="tns:IDeviceControl_ToggleDevice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceControl/GetDeviceStatus" message="tns:IDeviceControl_GetDeviceStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceControl/GetDeviceStatusResponse" message="tns:IDeviceControl_GetDeviceStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceControl/TurnOff" message="tns:IDeviceControl_TurnOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceControl/TurnOffResponse" message="tns:IDeviceControl_TurnOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDeviceControl/TurnOn" message="tns:IDeviceControl_TurnOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDeviceControl/TurnOnResponse" message="tns:IDeviceControl_TurnOn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDeviceControl" type="tns:IDeviceControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ToggleDevice">
      <soap:operation soapAction="http://tempuri.org/IDeviceControl/ToggleDevice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatus">
      <soap:operation soapAction="http://tempuri.org/IDeviceControl/GetDeviceStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <soap:operation soapAction="http://tempuri.org/IDeviceControl/TurnOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <soap:operation soapAction="http://tempuri.org/IDeviceControl/TurnOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeviceControl">
    <wsdl:port name="BasicHttpBinding_IDeviceControl" binding="tns:BasicHttpBinding_IDeviceControl">
      <soap:address location="http://hs.msn2.net:8808/DeviceControl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>