Lists/ListTray/Service References/sls/sls1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShoppingListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShoppingListItem" nillable="true" type="tns:ShoppingListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShoppingListItem" nillable="true" type="tns:ArrayOfShoppingListItem" />
  <xs:complexType name="ShoppingListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ListItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Store" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShoppingListItem" nillable="true" type="tns:ShoppingListItem" />
</xs:schema>