msn2.net/ShoppingList/ShoppingList/ShoppingList/Web References/sls/ShoppingListService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="ShoppingListService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://svc.msn2.net/sl/sls.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://svc.msn2.net/sl/sls.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://svc.msn2.net/sl/sls.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://svc.msn2.net/sl/sls.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/msn2.net.ShoppingList" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShoppingListService_GetStores_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStores" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_GetStores_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoresResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_GetShoppingListItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItems" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_GetShoppingListItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_GetShoppingListItemsForStore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItemsForStore" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_GetShoppingListItemsForStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShoppingListItemsForStoreResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_AddShoppingListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShoppingListItem" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_AddShoppingListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShoppingListItemResponse" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_DeleteShoppingListItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingListItem" />
  </wsdl:message>
  <wsdl:message name="IShoppingListService_DeleteShoppingListItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShoppingListItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IShoppingListService">
    <wsdl:operation name="GetStores">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingListService/GetStores" message="tns:IShoppingListService_GetStores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingListService/GetStoresResponse" message="tns:IShoppingListService_GetStores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingListService/GetShoppingListItems" message="tns:IShoppingListService_GetShoppingListItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingListService/GetShoppingListItemsResponse" message="tns:IShoppingListService_GetShoppingListItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItemsForStore">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingListService/GetShoppingListItemsForStore" message="tns:IShoppingListService_GetShoppingListItemsForStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingListService/GetShoppingListItemsForStoreResponse" message="tns:IShoppingListService_GetShoppingListItemsForStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShoppingListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingListService/AddShoppingListItem" message="tns:IShoppingListService_AddShoppingListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingListService/AddShoppingListItemResponse" message="tns:IShoppingListService_AddShoppingListItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShoppingListItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IShoppingListService/DeleteShoppingListItem" message="tns:IShoppingListService_DeleteShoppingListItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShoppingListService/DeleteShoppingListItemResponse" message="tns:IShoppingListService_DeleteShoppingListItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Binding1_IShoppingListService" type="tns:IShoppingListService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStores">
      <soap:operation soapAction="http://tempuri.org/IShoppingListService/GetStores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItems">
      <soap:operation soapAction="http://tempuri.org/IShoppingListService/GetShoppingListItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShoppingListItemsForStore">
      <soap:operation soapAction="http://tempuri.org/IShoppingListService/GetShoppingListItemsForStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShoppingListItem">
      <soap:operation soapAction="http://tempuri.org/IShoppingListService/AddShoppingListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShoppingListItem">
      <soap:operation soapAction="http://tempuri.org/IShoppingListService/DeleteShoppingListItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShoppingListService">
    <wsdl:port name="Binding1_IShoppingListService" binding="tns:Binding1_IShoppingListService">
      <soap:address location="http://svc.msn2.net/sl/sls.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>