msn2.net/control.msn2.net/App_WebReferences/IsyData/ISY.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ISY" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://hs.msn2.net:8808/ISY.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/ISY.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://hs.msn2.net:8808/ISY.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HomeServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IISY_GetNodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNodes" />
  </wsdl:message>
  <wsdl:message name="IISY_GetNodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodesResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_GetGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="IISY_GetGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_GetNode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNode" />
  </wsdl:message>
  <wsdl:message name="IISY_GetNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_TurnOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnOff" />
  </wsdl:message>
  <wsdl:message name="IISY_TurnOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnOffResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_TurnOn_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnOn" />
  </wsdl:message>
  <wsdl:message name="IISY_TurnOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnOnResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IISY_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IISY_SetLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLevel" />
  </wsdl:message>
  <wsdl:message name="IISY_SetLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLevelResponse" />
  </wsdl:message>
  <wsdl:portType name="IISY">
    <wsdl:operation name="GetNodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/GetNodes" message="tns:IISY_GetNodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/GetNodesResponse" message="tns:IISY_GetNodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/GetGroups" message="tns:IISY_GetGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/GetGroupsResponse" message="tns:IISY_GetGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/GetNode" message="tns:IISY_GetNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/GetNodeResponse" message="tns:IISY_GetNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/TurnOff" message="tns:IISY_TurnOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/TurnOffResponse" message="tns:IISY_TurnOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/TurnOn" message="tns:IISY_TurnOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/TurnOnResponse" message="tns:IISY_TurnOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/GetStatus" message="tns:IISY_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/GetStatusResponse" message="tns:IISY_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLevel">
      <wsdl:input wsaw:Action="http://tempuri.org/IISY/SetLevel" message="tns:IISY_SetLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IISY/SetLevelResponse" message="tns:IISY_SetLevel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IISY" type="tns:IISY">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNodes">
      <soap:operation soapAction="http://tempuri.org/IISY/GetNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/IISY/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNode">
      <soap:operation soapAction="http://tempuri.org/IISY/GetNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOff">
      <soap:operation soapAction="http://tempuri.org/IISY/TurnOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnOn">
      <soap:operation soapAction="http://tempuri.org/IISY/TurnOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IISY/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLevel">
      <soap:operation soapAction="http://tempuri.org/IISY/SetLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISY">
    <wsdl:port name="BasicHttpBinding_IISY" binding="tns:BasicHttpBinding_IISY">
      <soap:address location="http://hs.msn2.net:8808/ISY.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>